HR Candidate Automation.json
{"updatedAt":"2026-05-22T06:54:20.832Z","createdAt":"2026-05-13T06:17:53.471Z","id":"Vfjc3S4sUAtCVpHI","name":"HR Candidate Automation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"options":{}},"id":"010de015-597f-45f8-abf0-b223dd0de20f","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-816,176],"alwaysOutputData":true,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"lBhAi5yMhPwBrbcV","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"shortlist"}]}},"id":"deb92041-40e7-4d87-a43c-972663892b9a","name":"IF Shortlisted","type":"n8n-nodes-base.if","typeVersion":1,"position":[16,192]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"completed"}]}},"id":"b989b8ea-0d76-4459-b65b-1c0f96e9bd59","name":"IF Completed","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,400]},{"parameters":{"resource":"message","subject":"={{$json.subject}}","includeHtml":true,"htmlMessage":"={{ $json.body }}","message":"=","toList":["={{ $json.email }}"],"additionalFields":{}},"id":"5701f7d1-9eee-47f7-a6b3-a3a23e9242e7","name":"Send Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[1184,176],"credentials":{"gmailOAuth2":{"id":"PwsouRtaEyGpY2Pt","name":"Gmail account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/18-XYv5bZCErn5q3rvW8dKN6zmuOGDLw7I-87IZPi5Ho/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[352,176],"id":"f49f0530-0e8f-48ae-9d8a-3e3719015a6e","name":"Get a document","alwaysOutputData":true,"credentials":{"googleDocsOAuth2Api":{"id":"uvArUCfWQ1prquXb","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"true"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1616,0],"id":"0b337922-ab3d-45ed-a780-8f909b406ea4","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"OwwzAIR3aX2Fp6Sa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28e90c07-6e9c-489c-b616-473335c3571e","leftValue":"={{ $json.labelIds }}","rightValue":"=SENT","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,176],"id":"ac52f2cc-fe00-4c83-9c82-59ebe8b2dfdb","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"false"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1616,240],"id":"74c00290-51b5-4b5e-a2c5-cd5921d78385","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"OwwzAIR3aX2Fp6Sa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const text = $json.content;\n\n// split ONLY on === section markers (properly)\nconst sections = text.split(/===\\s*(.*?)\\s*===/g);\n\nconst templates = {};\n\n// sections will look like:\n// [\"\", \"new\", \"content...\", \"shortlist\", \"content...\", \"completed\"]\nfor (let i = 1; i < sections.length; i += 2) {\n  const key = sections[i].toLowerCase().trim();\n  const content = sections[i + 1];\n\n  const lines = content\n    .split('\\n')\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  const subjectLine = lines.find(l =>\n    l.toLowerCase().startsWith('subject:')\n  );\n\n  if (!subjectLine) continue;\n\n  const subject = subjectLine.split(':').slice(1).join(':').trim();\n\n  const body = lines\n    .slice(lines.indexOf(subjectLine) + 1)\n    .join('\\n');\n\n  templates[key] = { subject, body };\n}\n\nreturn [{ json: templates }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,176],"id":"1e160729-f4a9-4943-857e-51dd96ca843c","name":"Extract Templates"},{"parameters":{"functionCode":"const status =  $node[\"Google Sheets Trigger\"].json.Status.toLowerCase(); \n\nconst templates = $json;\nconst template = templates[status];\n\nif (!template) {\n  throw new Error(`No template found for status: ${status}`);\n}\n\nreturn [{\n  json: {\n    ...template,\n    candidate: $node[\"Google Sheets Trigger\"].json\n  }\n}];"},"id":"463e8c4c-9860-41d2-96a6-01610f388d95","name":"Choose Template by Status","type":"n8n-nodes-base.function","typeVersion":1,"position":[768,176]},{"parameters":{"functionCode":"const { subject, body, candidate } = $json;\n\nconst map = {\n  \"{{Name}}\": candidate.Name,\n  \"{{Task_Link}}\": candidate[\"Task_Link\"],\n  \"{{Email}}\": candidate.Email\n};\n\nlet finalSubject = subject;\nlet finalBody = body;\n\nfor (const key in map) {\n  finalSubject = finalSubject.replaceAll(key, map[key] || \"\");\n  finalBody = finalBody.replaceAll(key, map[key] || \"\");\n}\n\nreturn [{\n  json: {\n    email: candidate.Email,\n    subject: finalSubject,\n    body: finalBody\n  }\n}];"},"id":"f32cdaf3-a3be-4d39-9fe3-70291af7e627","name":"Personalize Email Content","type":"n8n-nodes-base.function","typeVersion":1,"position":[976,176],"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","operation":"isEmpty"},{"value1":"={{ $json.status_normalized }}","value2":"new"}]},"combineOperation":"any"},"id":"f7d858a5-d0eb-4af6-89d1-91129f2f4e03","name":"IF New","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"53c921a4-e1c7-40fe-a5bc-b40acc03da29","leftValue":"={{ $json['Email Sent'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-576,176],"id":"a49815bb-6076-47dd-835a-62e816fac727","name":"Duplicate Check "},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    status_normalized: $json.Status?.toLowerCase().trim()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,192],"id":"09e5b568-6703-4af5-ae51-1b2690b68f45","name":"Normalized status","alwaysOutputData":true,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bcf8835e-70a6-4619-9af5-8681742a3626","leftValue":"={{ $json.status_normalized }}","rightValue":"new","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1824,0],"id":"8ee5349d-144e-4965-9427-8cb2fc87e1d9","name":"If1"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Duplicate Check ","type":"main","index":0}]]},"IF Shortlisted":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"IF Completed":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Extract Templates","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Extract Templates":{"main":[[{"node":"Choose Template by Status","type":"main","index":0}]]},"Choose Template by Status":{"main":[[{"node":"Personalize Email Content","type":"main","index":0}]]},"Personalize Email Content":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF New":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Duplicate Check ":{"main":[[],[{"node":"Normalized status","type":"main","index":0}]]},"Normalized status":{"main":[[{"node":"IF New","type":"main","index":0},{"node":"IF Shortlisted","type":"main","index":0},{"node":"IF Completed","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Google Sheets Trigger":{"documentId":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","sheetId":1271037269,"lastRevision":525,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY&revision=525&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5628e4df-cbb9-4f72-9e7a-ab2760eaa393","activeVersionId":"78e5e4ea-41f4-46f6-a389-f6473b305f7e","versionCounter":96,"triggerCount":1,"shared":[{"updatedAt":"2026-05-13T06:17:53.475Z","createdAt":"2026-05-13T06:17:53.475Z","role":"workflow:owner","workflowId":"Vfjc3S4sUAtCVpHI","projectId":"VptpWyMYyVSCLv3x","project":{"updatedAt":"2026-05-12T04:43:38.850Z","createdAt":"2026-05-12T04:41:24.863Z","id":"VptpWyMYyVSCLv3x","name":"Pavitra Maradi <pavitrabhatta2001@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a891fb55-84c1-4192-ace0-d326aa8ea334"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-21T18:32:38.000Z","createdAt":"2026-05-21T18:32:13.605Z","versionId":"78e5e4ea-41f4-46f6-a389-f6473b305f7e","workflowId":"Vfjc3S4sUAtCVpHI","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"options":{}},"id":"010de015-597f-45f8-abf0-b223dd0de20f","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-816,176],"alwaysOutputData":true,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"lBhAi5yMhPwBrbcV","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"shortlist"}]}},"id":"deb92041-40e7-4d87-a43c-972663892b9a","name":"IF Shortlisted","type":"n8n-nodes-base.if","typeVersion":1,"position":[16,192]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"completed"}]}},"id":"b989b8ea-0d76-4459-b65b-1c0f96e9bd59","name":"IF Completed","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,400]},{"parameters":{"resource":"message","subject":"={{$json.subject}}","includeHtml":true,"htmlMessage":"={{ $json.body }}","message":"=","toList":["={{ $json.email }}"],"additionalFields":{}},"id":"5701f7d1-9eee-47f7-a6b3-a3a23e9242e7","name":"Send Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[1184,176],"credentials":{"gmailOAuth2":{"id":"PwsouRtaEyGpY2Pt","name":"Gmail account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/18-XYv5bZCErn5q3rvW8dKN6zmuOGDLw7I-87IZPi5Ho/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[352,176],"id":"f49f0530-0e8f-48ae-9d8a-3e3719015a6e","name":"Get a document","alwaysOutputData":true,"credentials":{"googleDocsOAuth2Api":{"id":"Jk5YsBrYPtSnIxJ5","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"true"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1616,0],"id":"0b337922-ab3d-45ed-a780-8f909b406ea4","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"OwwzAIR3aX2Fp6Sa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28e90c07-6e9c-489c-b616-473335c3571e","leftValue":"={{ $json.labelIds }}","rightValue":"=SENT","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,176],"id":"ac52f2cc-fe00-4c83-9c82-59ebe8b2dfdb","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"false"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1616,240],"id":"74c00290-51b5-4b5e-a2c5-cd5921d78385","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"OwwzAIR3aX2Fp6Sa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const text = $json.content;\n\n// split ONLY on === section markers (properly)\nconst sections = text.split(/===\\s*(.*?)\\s*===/g);\n\nconst templates = {};\n\n// sections will look like:\n// [\"\", \"new\", \"content...\", \"shortlist\", \"content...\", \"completed\"]\nfor (let i = 1; i < sections.length; i += 2) {\n  const key = sections[i].toLowerCase().trim();\n  const content = sections[i + 1];\n\n  const lines = content\n    .split('\\n')\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  const subjectLine = lines.find(l =>\n    l.toLowerCase().startsWith('subject:')\n  );\n\n  if (!subjectLine) continue;\n\n  const subject = subjectLine.split(':').slice(1).join(':').trim();\n\n  const body = lines\n    .slice(lines.indexOf(subjectLine) + 1)\n    .join('\\n');\n\n  templates[key] = { subject, body };\n}\n\nreturn [{ json: templates }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,176],"id":"1e160729-f4a9-4943-857e-51dd96ca843c","name":"Extract Templates"},{"parameters":{"functionCode":"const status =  $node[\"Google Sheets Trigger\"].json.Status.toLowerCase(); \n\nconst templates = $json;\nconst template = templates[status];\n\nif (!template) {\n  throw new Error(`No template found for status: ${status}`);\n}\n\nreturn [{\n  json: {\n    ...template,\n    candidate: $node[\"Google Sheets Trigger\"].json\n  }\n}];"},"id":"463e8c4c-9860-41d2-96a6-01610f388d95","name":"Choose Template by Status","type":"n8n-nodes-base.function","typeVersion":1,"position":[768,176]},{"parameters":{"functionCode":"const { subject, body, candidate } = $json;\n\nconst map = {\n  \"{{Name}}\": candidate.Name,\n  \"{{Task_Link}}\": candidate[\"Task_Link\"],\n  \"{{Email}}\": candidate.Email\n};\n\nlet finalSubject = subject;\nlet finalBody = body;\n\nfor (const key in map) {\n  finalSubject = finalSubject.replaceAll(key, map[key] || \"\");\n  finalBody = finalBody.replaceAll(key, map[key] || \"\");\n}\n\nreturn [{\n  json: {\n    email: candidate.Email,\n    subject: finalSubject,\n    body: finalBody\n  }\n}];"},"id":"f32cdaf3-a3be-4d39-9fe3-70291af7e627","name":"Personalize Email Content","type":"n8n-nodes-base.function","typeVersion":1,"position":[976,176],"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","operation":"isEmpty"},{"value1":"={{ $json.status_normalized }}","value2":"new"}]},"combineOperation":"any"},"id":"f7d858a5-d0eb-4af6-89d1-91129f2f4e03","name":"IF New","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"53c921a4-e1c7-40fe-a5bc-b40acc03da29","leftValue":"={{ $json['Email Sent'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-576,176],"id":"a49815bb-6076-47dd-835a-62e816fac727","name":"Duplicate Check "},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    status_normalized: $json.Status?.toLowerCase().trim()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,192],"id":"09e5b568-6703-4af5-ae51-1b2690b68f45","name":"Normalized status","alwaysOutputData":true,"executeOnce":false}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Duplicate Check ","type":"main","index":0}]]},"IF Shortlisted":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"IF Completed":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Extract Templates","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Extract Templates":{"main":[[{"node":"Choose Template by Status","type":"main","index":0}]]},"Choose Template by Status":{"main":[[{"node":"Personalize Email Content","type":"main","index":0}]]},"Personalize Email Content":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF New":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Duplicate Check ":{"main":[[],[{"node":"Normalized status","type":"main","index":0}]]},"Normalized status":{"main":[[{"node":"IF New","type":"main","index":0},{"node":"IF Shortlisted","type":"main","index":0},{"node":"IF Completed","type":"main","index":0}]]}},"authors":"Pavitra Maradi","name":"Version 78e5e4ea","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-21T18:32:38.459Z","id":17,"workflowId":"Vfjc3S4sUAtCVpHI","versionId":"78e5e4ea-41f4-46f6-a389-f6473b305f7e","event":"activated","userId":"a891fb55-84c1-4192-ace0-d326aa8ea334"}]}}