HR Candidate Automation.json
{"updatedAt":"2026-05-25T13:36:48.119Z","createdAt":"2026-05-13T06:17:53.471Z","id":"Vfjc3S4sUAtCVpHI","name":"HR Candidate Automation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"options":{}},"id":"2183aa30-c080-440a-a40a-e1f70bbb181b","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[576,-64],"alwaysOutputData":true,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"lBhAi5yMhPwBrbcV","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"shortlisted"}]}},"id":"cbed7d18-8185-4d97-9e5e-e1d2522bd2a3","name":"IF Shortlisted","type":"n8n-nodes-base.if","typeVersion":1,"position":[1408,-48]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"completed"}]}},"id":"944df890-f360-48d7-8795-4920152bfa50","name":"IF Completed","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,160]},{"parameters":{"resource":"message","subject":"={{$json.subject}}","includeHtml":true,"htmlMessage":"={{ $json.body }}","message":"=","toList":["={{ $json.email }}"],"additionalFields":{}},"id":"347a5e3b-37ef-4929-8052-b2c456d8e748","name":"Send Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[2576,-64],"credentials":{"gmailOAuth2":{"id":"N5kDLfP77oNCWZPs","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"true"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3008,-240],"id":"68ae57d4-58f3-4f5f-88d3-44e03bb8f444","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UpVuSIFfAlM49uVu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28e90c07-6e9c-489c-b616-473335c3571e","leftValue":"={{ $json.labelIds }}","rightValue":"=SENT","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2784,-64],"id":"fdd27e94-7dbd-4af0-ba8f-58986628ff29","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"false"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3008,0],"id":"86e9e2f7-135d-42e3-ab1d-bb24a796d7c4","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"qce5Qqml1vI6V7St","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const text = $json.data;\nconst sections = text.split(/===(\\w+)===/);\nconst templates = {};\n\nfor (let i = 1; i < sections.length; i += 2) {\n  const key = sections[i].trim().toLowerCase();\n  const lines = sections[i + 1].trim().split('\\n');\n  \n  const subjectLine = lines.find(l => \n    l.toLowerCase().startsWith('subject:')\n  );\n  \n  if (!subjectLine) continue;\n  \n  const subject = subjectLine.split(':').slice(1).join(':').trim();\n  const body = lines\n    .slice(lines.indexOf(subjectLine) + 1)\n    .join('\\n');\n  \n  templates[key] = { subject, body };\n}\n\nreturn [{ json: templates }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-64],"id":"a1b43edd-6032-468a-9b08-a205c91d2f91","name":"Extract Templates"},{"parameters":{"functionCode":"// Input IS the templates object {new: {...}, shortlisted: {...}, completed: {...}}\nconst templates = $input.item.json;\n\n// Get candidate from Google Sheets Trigger\nconst candidate = $('Google Sheets Trigger').item.json;\n\n// Get status from candidate\nconst status = (candidate.Status || candidate.status || \"new\").toLowerCase();\n\n// Pick the right template\nconst template = templates[status];\n\nif (!template) {\n  throw new Error(`No template found for status: ${status}. Available: ${Object.keys(templates).join(', ')}`);\n}\n\nreturn {\n  subject: template.subject,\n  body: template.body,\n  candidate: candidate\n};"},"id":"619fb32c-f7e6-491a-9954-a975d2f39c67","name":"Choose Template by Status","type":"n8n-nodes-base.function","typeVersion":1,"position":[2160,-64]},{"parameters":{"functionCode":"const { subject, body, candidate } = $json;\n\nconst map = {\n  \"{{Name}}\": candidate.Name,\n  \"{{Task_Link}}\": candidate[\"Task_Link\"],\n  \"{{Email}}\": candidate.Email,\n  \"{{Education}}\": candidate.Education,\n  \"{{Skills}}\": candidate.Skills\n};\n\nlet finalSubject = subject;\nlet finalBody = body;\n\nfor (const key in map) {\n  finalSubject = finalSubject.replaceAll(key, map[key] || \"\");\n  finalBody = finalBody.replaceAll(key, map[key] || \"\");\n}\n\nreturn [{\n  json: {\n    email: candidate.Email,\n    subject: finalSubject,\n    body: finalBody\n  }\n}];"},"id":"967552e1-6c78-46f5-8270-b35630ea190a","name":"Personalize Email Content","type":"n8n-nodes-base.function","typeVersion":1,"position":[2368,-64],"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","operation":"isEmpty"},{"value1":"={{ $json.status_normalized }}","value2":"new"}]},"combineOperation":"any"},"id":"203ef9d6-756a-48df-a6ed-906a3a8e4119","name":"IF New","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"53c921a4-e1c7-40fe-a5bc-b40acc03da29","leftValue":"={{ $json['Email_sent'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[816,-64],"id":"90e9696d-ba47-444d-98b5-169d6638c6bf","name":"Duplicate Check "},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    status_normalized: $json.Status?.toLowerCase().trim()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-48],"id":"57bf179c-0654-44f3-89a3-5765c3ab0830","name":"Normalized status","alwaysOutputData":true,"executeOnce":false},{"parameters":{"url":"https://docs.google.com/document/d/18-XYv5bZCErn5q3rvW8dKN6zmuOGDLw7I-87IZPi5Ho/export?format=txt","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1760,-64],"id":"d5dea67b-6319-4c3b-adc5-5ce4e946d952","name":"HTTP Request","credentials":{"googleDocsOAuth2Api":{"id":"uvArUCfWQ1prquXb","name":"Google Docs account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Duplicate Check ","type":"main","index":0}]]},"IF Shortlisted":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"IF Completed":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Extract Templates":{"main":[[{"node":"Choose Template by Status","type":"main","index":0}]]},"Choose Template by Status":{"main":[[{"node":"Personalize Email Content","type":"main","index":0}]]},"Personalize Email Content":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF New":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Duplicate Check ":{"main":[[],[{"node":"Normalized status","type":"main","index":0}]]},"Normalized status":{"main":[[{"node":"IF New","type":"main","index":0},{"node":"IF Shortlisted","type":"main","index":0},{"node":"IF Completed","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract Templates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Google Sheets Trigger":{"documentId":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","sheetId":1271037269,"lastRevision":681,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY&revision=681&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a7c70a7-6c4c-4400-9e11-f28ee3d40fc4","activeVersionId":"4a7c70a7-6c4c-4400-9e11-f28ee3d40fc4","versionCounter":135,"triggerCount":1,"shared":[{"updatedAt":"2026-05-13T06:17:53.475Z","createdAt":"2026-05-13T06:17:53.475Z","role":"workflow:owner","workflowId":"Vfjc3S4sUAtCVpHI","projectId":"VptpWyMYyVSCLv3x","project":{"updatedAt":"2026-05-12T04:43:38.850Z","createdAt":"2026-05-12T04:41:24.863Z","id":"VptpWyMYyVSCLv3x","name":"Pavitra Maradi <pavitrabhatta2001@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a891fb55-84c1-4192-ace0-d326aa8ea334"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-25T13:43:48.000Z","createdAt":"2026-05-25T13:36:37.501Z","versionId":"4a7c70a7-6c4c-4400-9e11-f28ee3d40fc4","workflowId":"Vfjc3S4sUAtCVpHI","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"options":{}},"id":"2183aa30-c080-440a-a40a-e1f70bbb181b","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[576,-64],"alwaysOutputData":true,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"lBhAi5yMhPwBrbcV","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"shortlisted"}]}},"id":"cbed7d18-8185-4d97-9e5e-e1d2522bd2a3","name":"IF Shortlisted","type":"n8n-nodes-base.if","typeVersion":1,"position":[1408,-48]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","value2":"completed"}]}},"id":"944df890-f360-48d7-8795-4920152bfa50","name":"IF Completed","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,160]},{"parameters":{"resource":"message","subject":"={{$json.subject}}","includeHtml":true,"htmlMessage":"={{ $json.body }}","message":"=","toList":["={{ $json.email }}"],"additionalFields":{}},"id":"347a5e3b-37ef-4929-8052-b2c456d8e748","name":"Send Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[2576,-64],"credentials":{"gmailOAuth2":{"id":"N5kDLfP77oNCWZPs","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"true"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3008,-240],"id":"68ae57d4-58f3-4f5f-88d3-44e03bb8f444","name":"Update row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UpVuSIFfAlM49uVu","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28e90c07-6e9c-489c-b616-473335c3571e","leftValue":"={{ $json.labelIds }}","rightValue":"=SENT","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2784,-64],"id":"fdd27e94-7dbd-4af0-ba8f-58986628ff29","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY","mode":"list","cachedResultName":"HR_Tracker_Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1271037269,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L1yPZU7R1q71CQko8JoLpOG4NYQABwm8FdU6A740zvY/edit#gid=1271037269"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Google Sheets Trigger').item.json.Email }}","Email_sent":"false"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task_Link","displayName":"Task_Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_sent","displayName":"Email_sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3008,0],"id":"86e9e2f7-135d-42e3-ab1d-bb24a796d7c4","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"qce5Qqml1vI6V7St","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const text = $json.data;\nconst sections = text.split(/===(\\w+)===/);\nconst templates = {};\n\nfor (let i = 1; i < sections.length; i += 2) {\n  const key = sections[i].trim().toLowerCase();\n  const lines = sections[i + 1].trim().split('\\n');\n  \n  const subjectLine = lines.find(l => \n    l.toLowerCase().startsWith('subject:')\n  );\n  \n  if (!subjectLine) continue;\n  \n  const subject = subjectLine.split(':').slice(1).join(':').trim();\n  const body = lines\n    .slice(lines.indexOf(subjectLine) + 1)\n    .join('\\n');\n  \n  templates[key] = { subject, body };\n}\n\nreturn [{ json: templates }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-64],"id":"a1b43edd-6032-468a-9b08-a205c91d2f91","name":"Extract Templates"},{"parameters":{"functionCode":"// Input IS the templates object {new: {...}, shortlisted: {...}, completed: {...}}\nconst templates = $input.item.json;\n\n// Get candidate from Google Sheets Trigger\nconst candidate = $('Google Sheets Trigger').item.json;\n\n// Get status from candidate\nconst status = (candidate.Status || candidate.status || \"new\").toLowerCase();\n\n// Pick the right template\nconst template = templates[status];\n\nif (!template) {\n  throw new Error(`No template found for status: ${status}. Available: ${Object.keys(templates).join(', ')}`);\n}\n\nreturn {\n  subject: template.subject,\n  body: template.body,\n  candidate: candidate\n};"},"id":"619fb32c-f7e6-491a-9954-a975d2f39c67","name":"Choose Template by Status","type":"n8n-nodes-base.function","typeVersion":1,"position":[2160,-64]},{"parameters":{"functionCode":"const { subject, body, candidate } = $json;\n\nconst map = {\n  \"{{Name}}\": candidate.Name,\n  \"{{Task_Link}}\": candidate[\"Task_Link\"],\n  \"{{Email}}\": candidate.Email,\n  \"{{Education}}\": candidate.Education,\n  \"{{Skills}}\": candidate.Skills\n};\n\nlet finalSubject = subject;\nlet finalBody = body;\n\nfor (const key in map) {\n  finalSubject = finalSubject.replaceAll(key, map[key] || \"\");\n  finalBody = finalBody.replaceAll(key, map[key] || \"\");\n}\n\nreturn [{\n  json: {\n    email: candidate.Email,\n    subject: finalSubject,\n    body: finalBody\n  }\n}];"},"id":"967552e1-6c78-46f5-8270-b35630ea190a","name":"Personalize Email Content","type":"n8n-nodes-base.function","typeVersion":1,"position":[2368,-64],"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status_normalized }}","operation":"isEmpty"},{"value1":"={{ $json.status_normalized }}","value2":"new"}]},"combineOperation":"any"},"id":"203ef9d6-756a-48df-a6ed-906a3a8e4119","name":"IF New","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"53c921a4-e1c7-40fe-a5bc-b40acc03da29","leftValue":"={{ $json['Email_sent'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[816,-64],"id":"90e9696d-ba47-444d-98b5-169d6638c6bf","name":"Duplicate Check "},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    status_normalized: $json.Status?.toLowerCase().trim()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-48],"id":"57bf179c-0654-44f3-89a3-5765c3ab0830","name":"Normalized status","alwaysOutputData":true,"executeOnce":false},{"parameters":{"url":"https://docs.google.com/document/d/18-XYv5bZCErn5q3rvW8dKN6zmuOGDLw7I-87IZPi5Ho/export?format=txt","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1760,-64],"id":"d5dea67b-6319-4c3b-adc5-5ce4e946d952","name":"HTTP Request","credentials":{"googleDocsOAuth2Api":{"id":"uvArUCfWQ1prquXb","name":"Google Docs account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Duplicate Check ","type":"main","index":0}]]},"IF Shortlisted":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"IF Completed":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Extract Templates":{"main":[[{"node":"Choose Template by Status","type":"main","index":0}]]},"Choose Template by Status":{"main":[[{"node":"Personalize Email Content","type":"main","index":0}]]},"Personalize Email Content":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF New":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Duplicate Check ":{"main":[[],[{"node":"Normalized status","type":"main","index":0}]]},"Normalized status":{"main":[[{"node":"IF New","type":"main","index":0},{"node":"IF Shortlisted","type":"main","index":0},{"node":"IF Completed","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract Templates","type":"main","index":0}]]}},"authors":"Pavitra Maradi","name":"Version 4a7c70a7","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-25T13:43:48.085Z","id":22,"workflowId":"Vfjc3S4sUAtCVpHI","versionId":"4a7c70a7-6c4c-4400-9e11-f28ee3d40fc4","event":"activated","userId":"a891fb55-84c1-4192-ace0-d326aa8ea334"}]}}