HR Candidate Automation.json
{
  "name": "HR Operations Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1gcb44M8sb44PAPzvGhhZ0-xGoEnZDivpqD1Yknhr-n0/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "9b72eb0d-d470-4aae-8400-23a2119a76d3",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uSQVrnihZkVC3jPf",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Google Docs 'Simplify' mode returns content as direct string field\nconst fullText = $input.item.json.content || '';\n\n// Parse templates\nconst newBlock = fullText.match(/===new===([\\s\\S]*?)===shortlisted===/)?.[1]?.trim() || '';\nconst shortlistedBlock = fullText.match(/===shortlisted===([\\s\\S]*?)===completed===/)?.[1]?.trim() || '';\nconst completedBlock = fullText.match(/===completed===([\\s\\S]*?)$/)?.[1]?.trim() || '';\n\nfunction parseTemplate(block) {\n  const subjectMatch = block.match(/Subject:\\s*(.+)/);\n  const subject = subjectMatch ? subjectMatch[1].trim() : '';\n  const body = block.replace(/Subject:[^\\n]*\\n?/, '').trim();\n  return { subject, body };\n}\n\nreturn [{\n  json: {\n    templates: {\n      new: parseTemplate(newBlock),\n      shortlisted: parseTemplate(shortlistedBlock),\n      completed: parseTemplate(completedBlock),\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "74b48a0b-6f7b-4fee-b86a-74b629747911",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -112
      ],
      "id": "c8f76947-2458-4085-ae07-2f6e963eeff3",
      "name": "Merge"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0",
          "mode": "list",
          "cachedResultName": "Copy of HR_Tracker_Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "c11e07b8-cced-4593-a9bd-6f4f958483fe",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "6iH5YuVJweZHKOfu",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40136a13-69db-436a-9a50-c1f6d215b949",
                    "leftValue": "={{ $json.Status ? $json.Status.toLowerCase() : 'new' }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "613d85d6-69d2-4926-9f75-0b6036473180",
                    "leftValue": "={{ $json.Status.toLowerCase() }}",
                    "rightValue": "shortlisted",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b3d74a11-9f4c-4283-8694-72f45c99c83b",
                    "leftValue": "={{ $json.Status.toLowerCase() }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        -128
      ],
      "id": "c4bf9580-a1e6-45f3-9674-409456c01858",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.item.json;\nconst template = row.templates.new;\n\nconst subject = template.subject\n  .replace(/\\{\\{Name\\}\\}/g, row.Name);\n\nconst body = template.body\n  .replace(/\\{\\{Name\\}\\}/g, row.Name)\n  .replace(/\\{\\{Education\\}\\}/g, row.Education || 'your field')\n  .replace(/\\{\\{Task_Link\\}\\}/g, row.Task_Link);\n\nreturn [{ json: { to: row.Email, subject, body, name: row.Name }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -224
      ],
      "id": "e70cdb92-5668-4e97-9761-2e704fce0c54",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.item.json;\nconst template = row.templates.shortlisted;\n\nconst subject = template.subject\n  .replace(/\\{\\{Name\\}\\}/g, row.Name);\n\nconst body = template.body\n  .replace(/\\{\\{Name\\}\\}/g, row.Name)\n  .replace(/\\{\\{Skills\\}\\}/g, row.Skills || 'your skills');\n\nreturn [{ json: { to: row.Email, subject, body, name: row.Name }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -48
      ],
      "id": "65746ea7-32a2-4d26-8da5-df4d73bafc41",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.item.json;\nconst template = row.templates.completed;\n\nconst subject = template.subject\n  .replace(/\\{\\{Name\\}\\}/g, row.Name);\n\nconst body = template.body\n  .replace(/\\{\\{Name\\}\\}/g, row.Name);\n\nreturn [{ json: { to: row.Email, subject, body, name: row.Name }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        112
      ],
      "id": "c9743d23-5567-4cb6-83f7-10765f83d1a0",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        -224
      ],
      "id": "232fe167-b980-4ce2-9afc-598f160650da",
      "name": "Send a message",
      "webhookId": "1feb17e9-280f-4cee-b1fc-1c4dad7ca45a",
      "credentials": {
        "gmailOAuth2": {
          "id": "JcdU2Pv0mVFhDwse",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        -48
      ],
      "id": "f583dd28-678d-4e47-9706-85ab284e161f",
      "name": "Send a message1",
      "webhookId": "35eda0bf-0cee-4967-963d-eda069c16eab",
      "credentials": {
        "gmailOAuth2": {
          "id": "JcdU2Pv0mVFhDwse",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        112
      ],
      "id": "3ee56eac-c70e-4187-ba62-3c6d784cde93",
      "name": "Send a message2",
      "webhookId": "ba33bb5a-fa48-4328-a522-0a1a4b3aba3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "JcdU2Pv0mVFhDwse",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0",
          "mode": "list",
          "cachedResultName": "Copy of HR_Tracker_Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Code in JavaScript1').item.json.to }}",
            "Email_sent": "sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task_Link",
              "displayName": "Task_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_sent",
              "displayName": "Email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        -224
      ],
      "id": "9dc4664a-8d17-4019-a850-1aed20ec09c8",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "odGAp6UBXy6Y341l",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0",
          "mode": "list",
          "cachedResultName": "Copy of HR_Tracker_Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_sent": "sent",
            "Email": "={{ $('Code in JavaScript2').item.json.to }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task_Link",
              "displayName": "Task_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_sent",
              "displayName": "Email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -48
      ],
      "id": "d0d1a459-c5ee-44fe-b308-a78522f50b43",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "odGAp6UBXy6Y341l",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0",
          "mode": "list",
          "cachedResultName": "Copy of HR_Tracker_Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xkdpcb-PaYBeJZ7FYoYZc2zZaonhcFZL5iqkQdo_tf0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Code in JavaScript3').item.json.to }}",
            "Email_sent": "sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task_Link",
              "displayName": "Task_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_sent",
              "displayName": "Email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        112
      ],
      "id": "57d86cc4-42fd-4255-8eee-5519b474d765",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "odGAp6UBXy6Y341l",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get a document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0707bb09-d413-4c69-af28-259a9322d62b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c135bc6bf41b183b8281bdc98ba9b40c881c552354795f1df719ec735840db89"
  },
  "id": "MA7ZJB94f4HvGShq",
  "tags": []
}
